body {

  background-color: black;
  font-family: Arial, sans-serif;
  color: #B20000;
  background-image: url("assest/bg.jpg");
  background-size: cover;
  font-style: bold;
}
.black-box {
  background-color: black;
  /* color: white; */
  /* padding: 15px; */
  margin-bottom: 20px;
  border-radius: 10px;
  /* width: 50%;  */
}

.text-box {
  width: 400pt;
  height: 50pt;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  margin-top: 20pt;
  margin-bottom: auto;
  font-size: 15pt;
  /* margin-right: 20pt; */

}

.heading {
  text-align: center;
  font-size: 50pt;
  color: #FFFFFF;
  text-shadow: 2px 2px 0 #000000,  
               -2px -2px 0 #000000, 
               2px -2px 0 #000000,  
               -2px 2px 0 #000000,  
               2px 2px 5px rgba(0, 0, 0, 0.5); 
}


.desc {
  font-size: 20pt;
  text-align: center;
}

.langOptions {
  text-align: center;
  margin-top: 10pt;
  font-size: 15pt;

}